body {
    margin: 0px;
    padding:0px;
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(235, 226, 176);
    overflow-x: hidden;
}
div {
    display: none;
}

/* ヘッダー関係 */
.header{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between; /* アイコンとナビゲーションを両端に配置 */
    align-items: center; 

    background-color: rgba(167, 160, 160, 0);
}
.nav {
    justify-content: flex-end;
}
.nav ul {
    display: flex;
    padding: 20px;
    margin-right: 22%;
    justify-content: flex-end; /* 右端からの配置 */
}

.nav li {
    list-style: none;
    padding-left: 4%;
    margin-left: 14px; /* 各項目の間隔 */
}

.nav li:last-child {
    margin-right: 0; /* 最後の項目の右側のマージンをゼロに設定 */
}
.nav a{
    text-decoration: none;
    font-family: "Protest Guerrilla", sans-serif;
    font-style: normal;
    color: rgb(53, 53, 53);
    font-weight: 400;
    transition: 40ms;
}@media (max-width: 767px) {
    /* スマホスタイル */
    .nav a {
        font-size: 17px;
    }

}@media (min-width: 768px) {
    /* PC用のスタイルを記述 */
    .nav a {
        font-size: 27px;

    }
}



.nav a:hover {
    color: white;
}

.header-logo img{
    padding: 13px;
}@media (max-width: 767px) {
    /* スマホスタイル */
    .header-logo img{
        height: 70px;
        width: 70px;
        padding-left: 13px;
        padding-right: 6px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

}@media (min-width: 768px) {
    /* PC用のスタイルを記述 */
    .header-logo img{
        height: 90px;
        width: 90px;
        padding-left: 20px;
    }
}
/* プロフなのだよ */
.gamealone {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-left: 10%;
}@media (max-width: 767px) {
    /* スマホスタイル */
    .gamealone {
        font-size: 25px;
    }

}@media (min-width: 768px) {
    /* PC用のスタイルを記述 */
    .gamealone {
        font-size: 47px;
    }
}
.meigenflaze {
    display: flex;
    justify-content: space-between;
}
.welcometosite {
    text-align: center;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}@media (max-width: 767px) {
    /* スマホスタイル */
    .welcometosite {
        font-size: 26px;
        padding-right: 140px;
    }

}@media (min-width: 768px) {
    /* PC用のスタイルを記述 */
    .welcometosite {
        font-size: 36px;
        padding-right: 350px;
    }
}


/* アカウントhtml */
.maintitle h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
    font-size: 50px;
    font-family: "Shippori Antique B1", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.maintitle h2:hover {
    color: white;
}
/* 各種SNSリンク */
.sns-button {
    margin: 3px;
    padding: 0px;
    text-align: center;
    list-style: none;
    overflow: hidden;
    padding: 0;
  }
  .sns-button a {
    text-decoration: none;
  }
  /* 各 SNS ボタンのボックス */
  .sns-button li  {
    display: inline-block; 
    margin: 17px;
    padding: px 0px;
    border-radius: 4px;
    box-shadow:2.8px 2.8px #4c4550;
    width: 170px;
    height: 170px;
  }
  
  /* アイコン */
  .sns-button i {
    text-align:center;
    font-size: 70px;
    margin: 0px;
    padding: 15px 0px 0px 0px;
    color: #fff;
  }
  
  /* テキスト */
  .button-text {
    display: inline-block;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-size: 32px;
    font-weight: solid;
    color: #fff;
  }
  
  /* アイコンホバー */
  .sns-button li:hover{
    opacity: 0.8;
  }
  
  /* ボタンの色 */
  .button_twitter   { background: #1da1f2; }
  .button_steam { background: #1a2d57; }
  .button_pocket    { background: #ee4056; }
  .button_twitch { background: #9328d1; }
  .button_github     { background: rgb(49, 62, 99); }
  .button_line { background: #12ee41; }
  .button_discord   { background: #467bcf; }
  .button_youtube   { background: #DA1725; }
  .button_linkedin  { background: #0e76a8; }
  .button_evernote  { background: #2DBE60; }
  